$header-height: 50px;

.PlayerContainer {
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  background-color: var(--surface);
  border-radius: 8px;
  padding: 5px 20px;

  > .PlayerContainerHeader {
    height: $header-height;
  }

  > .PlayerContainerDrawer {
    width: 100%;
    height: calc(100% - $header-height);
    position: absolute;
    left: 100%;
    transition: left 200ms;
    background-color: transparentize(black, 0.5);
    overflow: auto;

    &.PlayerContainerDrawerOpen {
      left: 0;
    }
  }
}
