.TrackView {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &:hover {
    background-color: transparentize(white, .5);
  }

  &.TrackViewLoading {
    cursor: wait;
    background-color: transparent;
    opacity: .3;
  }
}
