.AppIcon {
  $size: 24px;
  width: $size;
  height: $size;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/ico-source.svg");
  display: inline-block;
}
